@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
    font-family: "Pretendard";
    src: url("/public/fonts/Pretendard-Regular.woff2");
}

* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    --background-color: #21262d;
    --border-color: #999;
    --font-color: #fff;
    --font-hover: #ddd;
    --font-focus: #aaa;
    --item-hover: #ffffff22;
    --item-focus: #ffffff11;
}

html, body {
    background-color: var(--background-color);
    color: var(--font-color);

    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;   
}

.nav_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.heap {
    min-width: 50%;
}

footer {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    border: none;
    background: none;
    color: var(--font-color);
    text-decoration: none;
    transition-duration: 300ms;
}

a:hover {
    color: var(--font-hover);
}

a:focus {
    color: var(--font-focus);
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.items {
    margin-top: 30px;
    width: 45%;
    height: fit-content;
    border-radius: 10px;
    border: 0.1rem solid;
    border-color: var(--border-color);
}

#item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: var(--font-color);
    transition-duration: 300ms;
    text-decoration: none;
    justify-content: space-between;
}

#name {
    position: relative;
    display: block;
    left: 10px;
}

#size {
    position: relative;
    display: block;
    left: 50px;
}

#date {
    position: relative;
    display: block;
    right: 10px;
}

#item:hover {
    border-radius: 10px;
    background-color: var(--item-hover);
    transition-duration: 300ms;
}

#item:focus {
    border-radius: 10px;
    background-color: var(--item-focus);
}
